
body {
    background: darkgray;
}

.wrap {
    background: green;
    min-height: 100px;
    text-align: center;
    padding: 20px;
    width: 90%;
    height: 100%;
    outline: 2px solid #000; 
    border: 3px solid #fff;
    border-radius: 10px;

}

div { margin: 10px 100px ;



}